docker.enabled = false
apptainer.enabled = false
singularity.enabled = false
podman.enabled = false
charliecloud.enabled = false
conda.enabled = false
spack.enabled = false
wave.enabled = false

process.executor = 'local'
executor.cpus = {{ max_cpus }}
executor.memory = {{ (max_memory_gb ~ ' GB') | groovy_quote }}
executor.queueSize = 1
