@SYNTHETIC_PE_0001/1
ACGTACGTACGTACGTACGTACGTACGTACGTACGTACGT
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@SYNTHETIC_PE_0002/1
AAAACCCCGGGGTTTTAAAACCCCGGGGTTTTAAAACCCC
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
