@SYNTHETIC_PE_0001/2
TGCATGCATGCATGCATGCATGCATGCATGCATGCATGCA
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@SYNTHETIC_PE_0002/2
GGGGTTTTAAAACCCCGGGGTTTTAAAACCCCGGGGTTTT
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
