process MULTIQC {
    tag 'multiqc'
    label 'multiqc'
    publishDir "${params.output_dir}/multiqc", mode: 'copy', overwrite: false

    input:
    path reports, stageAs: 'reports/*', arity: '1..*'

    output:
    path 'multiqc_report.html', arity: '1', emit: report
    path 'multiqc_data', arity: '1', emit: data

    script:
    """
    multiqc \\
        --no-version-check \\
        --force \\
        --filename multiqc.html \\
        --outdir . \\
        reports

    mv multiqc.html multiqc_report.html
    """

    stub:
    """
    printf '<html><body>stub MultiQC</body></html>\n' > multiqc_report.html
    mkdir multiqc_data
    printf '{}\n' > multiqc_data/multiqc_general_stats.txt
    """
}
